@page "/workordergantt"
@inject IServiceManager _manager

<PageTitle>Work Orders</PageTitle>

<div class="row">
    <SfGantt DataSource="@TaskCollection" Height="750px" EnableRowVirtualization ShowColumnMenu AllowFiltering AllowSelection
    Toolbar="@(new List<string>() {"Update","Edit","Cancel" ,"Search" })">
    <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration"
    Progress="Progress" ParentID="ParentId">
    </GanttTaskFields>
    <GanttSplitterSettings ColumnIndex="5"></GanttSplitterSettings>
    <GanttColumns>
    <GanttColumn Field="TaskId" HeaderText="Task ID" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Visible="false"></GanttColumn>
    <GanttColumn Field="TaskName" HeaderText="Task Name" Width="350"></GanttColumn>
    <GanttColumn Field="StartDate" HeaderText="Start Date" Format="dd.MM.yyy" Width="125"></GanttColumn>
    <GanttColumn Field="Duration" HeaderText="Duration" Width="125"></GanttColumn>
    <GanttColumn Field="Progress" HeaderText="Progress" Format="P0" Width="125"></GanttColumn>
    </GanttColumns>
    <GanttEditSettings AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
    </SfGantt>

</div>


@code {

    private List<TaskData> TaskCollection { get; set; }

    protected override void OnInitialized()
    {
        TaskCollection = GetWorkOrders();
    }

    private List<TaskData> GetWorkOrders()
    {
        List<TaskData> TaskCollection = new List<TaskData>();
        var workOrders = _manager.IsEmriService.GanttTasks();
        if (workOrders is not null)
        {
            foreach (var wo in workOrders)
            {
                TaskCollection.Add(new TaskData
                    {
                        TaskId = wo.TaskId,
                        TaskName = wo.TaskName,
                        StartDate = wo.StartDate,
                        DurationUnit = wo.DurationUnit,
                        Progress = wo.Progress,
                        ParentId = wo.ParentId
                    });
            }
        }
        return TaskCollection;
    }

    public void OnActionComplete(GanttActionEventArgs<TaskData> args)
    {
        //Here, you can customize your code.
        Console.WriteLine("Action Complete");
    }

}
