@using Entities.Dtos;
@using Syncfusion.EJ2.Schedule;
@using static DUPUS_WEB.Controllers.ResourceSchedulerController;

@{
    List<ScheduleView> viewOption = new List<ScheduleView>()
    {
        new ScheduleView { Option = Syncfusion.EJ2.Schedule.View.Week },
        new ScheduleView { Option = Syncfusion.EJ2.Schedule.View.TimelineDay }
    };

    var dataManager = new DataManager()
            {
                Url = "/ResourceScheduler/LoadData",
                Adaptor = "UrlAdaptor",
                CrudUrl = "ResourceScheduler/UpdateData",
                CrossDomain = true
            };
}

<div class="row">
    <div class="col-2">
        <ejs-listview id="recourceList" dataSource="@ViewBag.ResourceList" headerTitle="Resource List" showHeader select="onSelect">
            <e-listview-fieldsettings id="Id" text="Text">
            </e-listview-fieldsettings>
        </ejs-listview>

        <input id="konumId" name="konumId" />
        <input id="konumAd" name="konumAd" data="@ViewBag.SelectedListItem" />
        <br />
        <input type="submit" id="button" value="Submit" formaction="GetValues" />

    </div>
    <div class="col-10">
        <ejs-message id="msg_default" content="@ViewBag.SelectedResource" class="my-2"></ejs-message>
        <ejs-schedule id="schedule" height="750px" width="auto" selectedDate="new DateTime(2022, 2, 15)" views="viewOption" 
        dateFormat="dd.MM.yyyy" >
            <e-schedule-eventsettings dataSource="dataManager"></e-schedule-eventsettings>
        </ejs-schedule>
    </div>
</div>

<style>

    #text {
        margin-left: 10px;
        margin-top: 20px;
    }

    #recourceList {
        max-width: 350px;
        margin: auto;
        margin-top: 10px;
        display: block;
        border: 1px solid #dddddd;
        border-radius: 5px;
    }

</style>

<script>

    //Handler for select event trace
    function onSelect(args) {
        var selecteditem = document.getElementById('recourceList').ej2_instances[0].getSelectedItems();
        var textbox1 = document.getElementById('konumId');
        textbox1.value = selecteditem["data"].Id.toString();

        var textbox2 = document.getElementById('konumAd');
        textbox2.value = selecteditem["data"].Text.toString();
        ViewBag.SelectedResource = "test";
    }


</script>



