@model IEnumerable<OrderDetails>

<p>Work Order List</p>


<ejs-grid id="Grid" dataSource="@Model" allowPaging>
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="OrderID" headerText="Order ID" disableHtmlEncode="true" textAlign="Center" width="50"></e-grid-column>
        <e-grid-column field="CustomerID" headerText="Customer ID" showInColumnChooser="true" textAlign="Left" width="60"></e-grid-column>
        <e-grid-column field="OrderDate" headerText="Order Date" Format="dd.MM.yyyy" textAlign="Right" width="130"></e-grid-column>
        <e-grid-column field="Freight" headerText="Freight" Format="N2" width="150"></e-grid-column>
        <e-grid-column field="ShippedDate" headerText="Shipped Date" Format="dd.MM.yyyy" textAlign="Right" width="130"></e-grid-column>
        <e-grid-column field="ShipCountry" headerText="Ship Country" width="150"></e-grid-column>
        <e-grid-column field="ShipCity" headerText="Ship City" visible="false" width="150"></e-grid-column>
    </e-grid-columns>
</ejs-grid>




